@tailwind base;
@tailwind components;
@tailwind utilities;

.hover-border-left-to-right:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #3461ff;
  transition: width 0.3s ease-in-out;
}

.hover-border-left-to-right:hover:before {
  width: 100%;
}
